@keyframes blinkbackground{

0%{background-color: white;color: black;}
25%{background-color: #0e0e0e;color: white;}
50%{background-color: white;color: black;}
75%{background-color: #0e0e0e;color: white;}
100%{background-color: white;color: black;}
}



.card{
    border: 3px solid black;
}
.Maincard{
    display: inline-block;
  padding: 30px;
}

.card:hover{
    animation: blinkbackground 1s infinite;
}
.Button-card{
    background-color: white;
    color: rgba(255, 0, 0, 0.665);
}
.Button-card:hover{
    background-color: palevioletred;
    color: white;
}